* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#two-columns {
    display: flex;
}

#sidebar {
    background-color: peachpuff;
    width: 250px;
    padding: 24px;
    border-right: 2px soild #72a586;

}



#main-content { 
    background-color: lightblue;
    flex: 1; 
}



